
img{
    display: flex;
    margin:100px;
    margin-top:10%;
}
article{
    text-align: left;
    width: 700px;
    margin-left:800px;
}
H2{
    text-decoration: underline #003FEB;
}
#zarejstruj{
    text-align: center;
    
}
#BO{
    width: 100%;
    text-align: right;
    color:white;
    background-color: #003FEB;
}