// form {
//   margin-left: 75%;
//   padding: 8px;
// }
// b {
//   color: white;
// }

.bad_password_box {
  font-size: 0.8em;
  color: red;
  background: white;
  width: 100%;
  text-align: center;
}
