// img {
//   display: flex;
//   margin: 100px;
//   margin-top: 10%;
// }

// h2 {
//   text-decoration: underline #003feb;
// }
// h2:hover {
//   color: red;
//   cursor: pointer;
// }
// #zarejstruj {
//   text-align: center;
// }
// #BO {
//   width: 100%;
//   text-align: right;
//   color: white;
//   background-color: #003feb;
// }
h2{
  text-align: center;
}
h2:hover{
  cursor: pointer;
  color: #3f8efc;
}
section p {
  text-align: center;
}
