<div class="row">
  <div class="col text-center">
    <h3>{{ getEgzamin().nazwa }}</h3>
  </div>
</div>
<form>
  <div class="row">
    <div *ngFor="let pytanie of getPytania(); index as i" style="padding: 5px" class="col-md-6">
      <div class="card" style="padding:3px">
        [Kategoria: {{ pytanie.kategoria }}] <br>
        <b>{{i+1}}. {{ pytanie.tresc }} </b>

        <div *ngIf="getOdpowiedzi() && getOdpowiedzi().hasOwnProperty(pytanie.idPytania)">
          <div class="form-check" *ngFor=" let odpowiedz of getOdpowiedzi()[pytanie.idPytania]">
            <input class="form-check-input" type="radio" [name]="pytanie.idPytania"
              id="{{pytanie.idPytania}}-{{getOdpowiedzi().idOdpowiedzi}}" [value]="getOdpowiedzi().idOdpowiedzi">
            <label for="{{pytanie.idPytania}}-{{getOdpowiedzi().idOdpowiedzi}}"
              class="form-check-label">{{ getOdpowiedzi().odpowiedz }}</label>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="div clearfix">
    <button class="btn btn-primary mb-2 float-right" (click)="register($event)" id="register">Wyślij</button>
  </div>


</form>
