<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<nav>
    <H1>OUTSOURCING.PL</H1>
    <ul>
        <li><a [routerLink]="['/']">STRONA GŁÓWNA</a></li>
        <li><a [routerLink]="['/oferty']">PRACODAWCY</a></li>
        <li><a [routerLink]="['/konto']">TWOJE KONTO</a></li>
        <li><a [routerLink]="['/kontakt']">KONTAKT</a></li>
    </ul>
    <login-box></login-box>
</nav>


<div id="widok">
    <div id="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>


<footer-box></footer-box>